h1{
    margin-left: 20%;
    margin-top: 10%;
}
h3{
    margin-left: 20%;
}
.container{
    background-color: rgb(238, 243, 233);
    border-style: solid;
    width:700px ;
    height:500px ;
    margin-top: 5%;
}
.tb{
    margin-left: 30%;
    margin-top: 10%;

}
/* #p1{
    width: 600px;
    height: 300px;
    margin-left: 30%;
    margin-top: 40%;

} */

.btn{ margin-left: 3%;
    margin-top: 5%;
    width: 200px;
    height: 52px;

}